// Variables;
@import '../../../assets/sass/base/variables';

.view-mode {
  position: relative;
  display: inline-block;
  .view-mode__item {
    display: inline;
    padding-left: 12px;
    &.active {
      color: $brand-primary;
    }
  }
}
.sorting {
  .sorting__item {
    display: inline-block;
    padding-left: 6px;
    cursor: pointer;
    &.active {
      text-decoration: underline;
    }
  }
}
